@page "/StarWars"

@inject StarWarsHub StarWarsHub
@inject IJSRuntime JSRuntime
@implements IDisposable

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Star Wars</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <strong>Choose a Side, Force User</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <button id="ButtonSith" class="btn btn-success" @onclick="ChooseJedi">
                <img class="btn-icon" src="/img/Yoda.png" />
            </button>
        </div>

        <div class="col-6">
            <button id="ButtonSith" class="btn btn-success" @onclick="ChooseSith">
                <img class="btn-icon" src="/img/Kyloren.png" />
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <strong>@Choice</strong>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-12">
            <div>(Refer to this <a href="https://blog.roman015.com/posts/post_013" target="_blank">page</a> on how this is supposed to work)</div>
        </div>
    </div>
</div>

<div class="modal fade" id="Order66Modal" tabindex="-1" role="dialog" aria-labelledby="Order66ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order 66 Has Been Executed!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid" src="/img/Order66_Start.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div><strong>Emperor Palpatine has Spoken!</strong></div>
                            <div>@JediCount Jedi have been Killed</div>
                            <div>@SithCount Sith Have Won The Battle</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        jsStarWarsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", StarWarsJSUrl);

        StarWarsHub.StartConnection();
        StarWarsHub.OnOrder66Executed += async (jedi, sith) =>
        {
            await ShowOrder66Results(jedi, sith);
        };
    }

    string Choice = "";

    private string StarWarsJSUrl = "/_content/HomePageToys/js/StarWars.js";
    IJSObjectReference jsStarWarsModule;
    int JediCount = 0;
    int SithCount = 0;

    void IDisposable.Dispose()
    {
        StarWarsHub.LeaveSide();
    }

    async Task ChooseSith()
    {
        await ChooseSide(false);
    }

    async Task ChooseJedi()
    {
        await ChooseSide(true);
    }

    async Task ChooseSide(bool isJedi = false)
    {
        StarWarsHub.JoinSide(isJedi);
        Choice = isJedi ? "You are a JEDI!" : "You are a SITH!";
    }

    async Task ShowOrder66Results(int jediCount, int sithCount)
    {
        if (Choice.Contains("JEDI"))
        {
            Console.WriteLine("This is the Jedi you're looking for");
            Choice = "You've Died!";
        }
        else if (Choice.Contains("SITH"))
        {
            Console.WriteLine("The Jedi have died");
            Choice = "Glory to the Empire!";
        }
        else
        {
            Console.WriteLine("Hey Guys, We Found Hans Solo!");
            Choice = "You've been frozen in Carbonite!";
        }

        JediCount = jediCount;
        SithCount = sithCount;

        StateHasChanged();

        await jsStarWarsModule.InvokeVoidAsync("TriggerModal");
    }
}
